USE [master]
GO
/****** Object:  Database [MANGA]    Script Date: 8/11/2020 7:57:02 PM ******/
CREATE DATABASE [MANGA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MANGA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MANGA.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MANGA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MANGA_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MANGA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MANGA]
GO
/****** Object:  User [tduy1998vn]    Script Date: 8/11/2020 7:57:02 PM ******/
CREATE USER [tduy1998vn] FOR LOGIN [tduy1998vn] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[COMMENT]    Script Date: 8/11/2020 7:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMENT](
	[PEOPLE_NAME] [nvarchar](255) NULL,
	[COMMENT] [nvarchar](4000) NULL,
	[ID_MANGA] [int] NULL,
	[DATE] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FOLLOW]    Script Date: 8/11/2020 7:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOLLOW](
	[IdUser] [int] NULL,
	[IdManga] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GET_MANGA_BASIC]    Script Date: 8/11/2020 7:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GET_MANGA_BASIC](
	[ID_MANGA] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](255) NULL,
	[IMG] [varchar](4000) NULL,
	[HREF] [varchar](255) NULL,
	[DESCRIPTIONS] [nvarchar](4000) NULL,
	[TAG] [nvarchar](255) NULL,
 CONSTRAINT [PK_GET_MANGA_BASIC] PRIMARY KEY CLUSTERED 
(
	[ID_MANGA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MANGA]    Script Date: 8/11/2020 7:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MANGA](
	[ID] [int] NOT NULL,
	[NAME_MANGA] [varchar](255) NULL,
	[DESCRIPTIONS] [nvarchar](255) NULL,
	[TAG] [varchar](255) NULL,
	[NUMBER_CHAPER] [int] NULL,
	[Views] [int] NULL,
	[IMAGE] [varchar](255) NULL,
	[HREF] [varchar](255) NULL,
 CONSTRAINT [PK__MANGA__3214EC27A21E4722] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MANGA_CHAPER]    Script Date: 8/11/2020 7:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MANGA_CHAPER](
	[ID_MANGA] [int] NULL,
	[ID_CHAPER] [int] NULL,
	[IMG1] [varchar](255) NULL,
	[IMG2] [varchar](255) NULL,
	[IMG3] [varchar](255) NULL,
	[IMG4] [varchar](255) NULL,
	[IMG5] [varchar](255) NULL,
	[IMG6] [varchar](255) NULL,
	[IMG7] [varchar](255) NULL,
	[IMG8] [varchar](255) NULL,
	[IMG9] [varchar](255) NULL,
	[IMG10] [varchar](255) NULL,
	[IMG11] [varchar](255) NULL,
	[IMG12] [varchar](255) NULL,
	[IMG13] [varchar](255) NULL,
	[IMG14] [varchar](255) NULL,
	[IMG15] [varchar](255) NULL,
	[IMG16] [varchar](255) NULL,
	[IMG17] [varchar](255) NULL,
	[IMG18] [varchar](255) NULL,
	[IMG19] [varchar](255) NULL,
	[IMG20] [varchar](255) NULL,
	[IMG21] [varchar](255) NULL,
	[IMG22] [varchar](255) NULL,
	[IMG23] [varchar](255) NULL,
	[IMG24] [varchar](255) NULL,
	[IMG25] [varchar](255) NULL,
	[IMG26] [varchar](255) NULL,
	[IMG27] [varchar](255) NULL,
	[IMG28] [varchar](255) NULL,
	[IMG29] [varchar](255) NULL,
	[IMG30] [varchar](255) NULL,
	[IMG31] [varchar](255) NULL,
	[IMG32] [varchar](255) NULL,
	[IMG33] [varchar](255) NULL,
	[IMG34] [varchar](255) NULL,
	[IMG35] [varchar](255) NULL,
	[IMG36] [varchar](255) NULL,
	[IMG37] [varchar](255) NULL,
	[IMG38] [varchar](255) NULL,
	[IMG39] [varchar](255) NULL,
	[IMG40] [varchar](255) NULL,
	[IMG41] [varchar](255) NULL,
	[IMG42] [varchar](255) NULL,
	[IMG43] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAMDOM_IMG]    Script Date: 8/11/2020 7:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAMDOM_IMG](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IMG] [varchar](1000) NULL,
 CONSTRAINT [PK__RAMDOM_I__3213E83F7A8DC79D] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 8/11/2020 7:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](255) NULL,
	[PASS] [varchar](255) NULL,
 CONSTRAINT [PK__USERS__3214EC07F30D4E3F] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
